.About{
    max-width: 1200px;

    margin:0px auto;
    padding: 10px 50px;
    display: flex;
    flex-direction: column;
    
    
}
.About_heading{
    
    font-size: 50px;
}

.About_image{

    
    display: flex;
justify-content: center;
align-items:center ;

justify-content: space-evenly;
/* gap:100px; */


}
.image{
    opacity: .8;
    width:600px;
    height:400px;
}
.about_text{

    padding: 10px 50px;
    /* background-color: bisque; */
}
.about_text>p{
    
    font-size: 20px;
    white-space: normal;
    overflow-wrap: break-word;
/* background-color: teal; */
    margin: 0px 0px;
    
}
.Resume_button{
    background-color: black !important;
    color: white !important;
    font-size: 20px !important;
    
    /* width: 100px;
    height: 50px; */
    margin-left: 30px;
    
}
.Resume_button:hover{
    background-color:rgb(4, 87, 87) !important;
    color: white !important;
    font-size: 25px !important;
    font-weight: 500;
    padding: 5px;

}
a{
    text-decoration: none;
}

@media only screen and (max-width:425px)
{
    .About_heading{
        font-size: 30px;
    }
    .image{
        opacity: .8;
        width:300px;
        height:300px;
    }
    .About_image{
        display: flex;
        flex-direction: column;
    }
    .about_text{

        padding: 10px 10px;

        /* background-color: bisque; */
    }
}