.nav_bar{
    position: sticky;
    top:0;
    z-index: 100;
    background-color :rgb(29, 28, 28); 
    color: white;
    padding: 0 10%;
    max-width: 100vw !important;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.header_left{

}
.header__right{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    

}
.heading{
    padding: 5px;
   
  transition: all 0.5s ease-out;
}
.select{
    color:teal;

}
.heading:hover{
    
    color:teal;
    border-bottom: 3px solid white;

}

@media  screen and (max-width:425px)
{
    .nav_bar{

        font-size: 10px;
        padding: 0px 10px;
    }
    .header__right{
        gap:5px;
    }

}