.skills{
    width: 1200px;
    margin:0px auto;
    
    display: flex;
    flex-direction: column;
    
    width: 1200px;
    
    /* background-color: rgb(250, 237, 250); */
}
.skill_heading{
    font-size: 50px;
}
.skills_imageContainer{
    display: flex;
    flex-wrap: wrap;
    row-gap:40px;
}
.skills_imagebox{
    flex: 2 0 21%;
    text-align: center;
}

.skills_image{
     
    height:100px;
    width:100px;
    object-fit: contain;
}
.skills_image1{
    height:150px;
    width:150px;
    object-fit: contain;

}
p{
    font-size: 30px;
}